section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 65vh;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    tranform: translateX(-100%);
    transition: all 2s ;
}

.show{
    opacity: 1;
    filter: blur(0);
    tranform: translateX(0);
}

.animatedText{
    animation: gradient 5s ease-in-out infinite;
    background: linear-gradient(to right, #ee9ca7, #d35dd0, #41ce66, #245e33);
    background-size: 300%;
    background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;

}
.animatedLine{
    text-align: center;
    animation: gradient 5s ease-in-out infinite;
    background: linear-gradient(to right, #ee9ca7, #d35dd0, #41ce66, #245e33);
    background-size: 300%;
    background-clip: text;
    text-align: center;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
    margin-top: 7.5vh;
    border-bottom: 3px solid #242424;
}