@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins_wght@200;400;700&display=swap');

body{
  background: #131316;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.bg-section{
  background: #131316;
}
section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  tranform: translateX(-100%);
  transition: all 2s ;
}

.show{
  opacity: 1;
  filter: blur(0);
  tranform: translateX(0);
}

.bg-image {
  width: 100vh;
  height:100vh;
  background: linear-gradient(-45deg, #52c4ee, #1f8696, #242424, #131316);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;

}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}.login-title-2 {
   font-weight: 800;
   font-size: medium;
   margin-top: 5px;
 }
.login-title {
  font-weight: 800;
  font-size: xxx-large;
}
.login-heading {
  font-weight: 500;
  font-size: xx-large;
}

